.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: 5px;
  transition: all .4s cubic-bezier(.165, .84, .44, 1);
  z-index: 0;
  box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .05), 0 .5rem 1.2rem rgba(0, 0, 0, .1) !important;
}

.card:after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .4s cubic-bezier(.165, .84, .44, 1);
}

.card:hover {
  transform: translate(0, -3px) !important;
  box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .05), 0 .625rem 1.5rem rgba(0, 0, 0, .15) !important;
}


.card__img {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);

}

.card__img img {
  width: 100%;
}

.card__title {
  padding: 16px;
  margin: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 32px);
  background: #FFFFFF;
  box-shadow: 0px 12px 28px rgb(0 0 0 / 14%);
  border-radius: 8px;
  transition: all .3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title h6 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.card__title svg {
  height: 16px;
}